%h1 Rottentutorials

= form_tag "/", method: :get do
  = label_tag "Which product are you searching for?"
  = text_field_tag :search_product
  %br
  = label_tag "What keywords?"
  = text_field_tag :search_keywords
  %br
  = submit_tag


- @tutorials.group_by {|t| t.version}.each do |version, tutorials|
  %div= version
  - tutorials.each do |tutorial|
    %div
      %h3= link_to tutorial.title, tutorial
      = tutorial.product
      = tutorial.author
      = tutorial.summary
%br

= link_to 'New Tutorial', new_tutorial_path
